@model IEnumerable<Category>

<br>
<ul class="list-group">

    @foreach (Category category in Model)
    {

        <li class="list-group-item">@category.CategoryName
            -
        <a asp-controller="Product" asp-action="Index" asp-route-id="@category.CategoryId">
        @category.Description
        </a>
            <a asp-controller="Product" asp-action="Index" asp-route-id="@category.CategoryId">@category.CategoryId</a> |

        </li>
    }
</ul>
<br>
<a asp-controller="Home" asp-action="Index">New Blog</a>
@* 
@model IEnumerable<Category>

<ul class="list-group">
    @foreach (var category in Model)
    {
        <li class="list-group-item">
            <a asp-controller="Product" asp-action="BlogDetail" asp-route-id="@category.CategoryId">@category.CategoryName</a> | 

            <a asp-controller="Product" asp-action="Index" asp-route-id="@category.CategoryId">@category.CategoryName</a>
        </li>
    }
</ul> *@
